<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
>
<head>
<meta charset="UTF-8">
</head>
<body>


	<div class="message-bar-container" th:fragment="MessageBar">
    <div class="alert alert-success" th:if="${sucess}" th:text="${sucess}"></div>
    <div class="alert alert-info" th:if="${info}" th:text="${info}"></div>
    <div class="alert alert-warning" th:if="${warning}" th:text="${warning}"></div>
    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
	</div>


</body>
</html>