<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<nav th:fragment="paginator">

  <ul class="pagination">

    <li th:class="${pageRender.isFirst ? 'page-item disabled' : 'page-item'}">
      <span class="page-link" th:if="${pageRender.isFirst}" th:text="#{text.paginator.first}">First</span>
      <a class="page-link" th:if="${not pageRender.isFirst}" th:href="@{${pageRender.url}(page=0)}"
         th:text="#{text.paginator.first}">First</a>
    </li>

    <li th:class="${pageRender.hasPrevious ? 'page-item' : 'page-item disabled'}">
      <span class="page-link" th:if="${not pageRender.hasPrevious}" th:utext="#{text.paginator.previous}">&laquo;</span>
      <a class="page-link" th:if="${pageRender.hasPrevious}"
         th:href="@{${pageRender.url}(page=${pageRender.currentPage - 2}) }" th:utext="#{text.paginator.previous}">&laquo;</a>
    </li>


    <li th:class="${ item.isCurrentPage ? 'page-item active' : 'page-item' }" th:each="item : ${pageRender.pages}">
      <span class="page-link" th:if="${item.currentPage}" th:text="${item.pageNumber}"></span>
      <a class="page-link" th:if="${not item.currentPage}" th:text="${item.pageNumber}" th:href="@{${pageRender.url}(page=${item.pageNumber - 1}) }"></a>


    <li th:class="${pageRender.hasNext ? 'page-item' : 'page-item disabled'}">
      <span class="page-link" th:if="${not pageRender.hasNext}" th:utext="#{text.paginator.next}">&raquo;</span>
      <a class="page-link" th:if="${pageRender.hasNext}"
         th:href="@{${pageRender.url} (page=${pageRender.currentPage}) }" th:utext="#{text.paginator.next}">&raquo;</a>
    </li>


    <li th:class="${pageRender.isLast ? 'page-item disabled' : 'page-item'}">
      <span class="page-link" th:if="${pageRender.isLast}" th:text="#{text.paginator.last}">Last</span>
      <a class="page-link" th:if="${not pageRender.isLast}"
         th:href="@{ ${pageRender.url}(page=${pageRender.totalPages -1})}" th:text="#{text.paginator.last}">Last</a>
    </li>

  </ul>
</nav>
</body>

</html>

