<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/layouts/main :: head}">
</head>
<body>

<header th:replace="~{/layouts/main :: header}"></header>

<div class="container py-4">
  <div class="card bg-light">
    <div class="card-header text-primary" th:text="${title}"></div>

    <div class="card-body">

      <h4 class="card-title">
        <a class="btn btn-success" th:href="@{/client/list}" th:utext="#{text.global.back}">Go back to List of Clients</a>
      </h4>

      <img th:if="${#strings.length(client.image) > 0}" th:src="@{'/images/'+ ${client.image}}"
           th:alt="${client.getImage()}"
           class="img-thumbnail rounded float-sm-start my-4" style="max-width: 25%;">

      <ul class="list-group my-4">

        <li class="list-group-item list-group-item-primary" th:text="#{text.invoice.show.data.client}">Client Details</li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-12 col-sm-2">
              <label th:text="#{text.template.client.show_details.name}">Name: </label>
            </div>
            <div class="col-12 col-sm-10">
              <span th:text="${client.getName()}"></span>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-12 col-sm-2">
              <label th:text="#{text.template.client.show_details.surname}">Surname: </label>
            </div>
            <div class="col-12 col-sm-10">
              <span th:text="${client.getSurname()}"></span>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-12 col-sm-2">
              <label th:text="#{text.templates.client.show_details.email}">Email: </label>
            </div>
            <div class="col-12 col-sm-10">
              <span th:text="${client.getEmail()}"></span>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-12 col-sm-2">
              <label th:text="#{text.templates.client.show_details.createdAt}">Account created at: </label>
            </div>
            <div class="col-12 col-sm-10">
              <span th:text="${#dates.format(client.createdAt, 'dd.MM.yyyy')}"></span>
            </div>
          </div>
        </li>
      </ul>


      <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/invoice/form/' + ${client.id}}"
         class="btn btn-info btn-xs" th:text="#{text.client.invoice.new}">Create Invoice</a>

      <div th:if="${#lists.isEmpty(client.invoices)}"
           class="invoice-container alert alert-info my-4"
           th:text="#{text.client.details.no.invoices}">
      </div>

      <div th:if="${not #lists.isEmpty(client.invoices)}"
           class="invoice-container my-4">

        <table class="table table-bordered table-striped table-hover">
          <thead class="bg-primary text-white">
          <tr>
            <th th:text="#{text.client.invoice.number}">Nr. Invoice</th>
            <th th:text="#{text.client.invoice.description}">Description</th>
            <th th:text="#{text.client.invoice.createdAt}">Created at</th>
            <th th:text="#{text.client.invoice.updatedAt}">Last Update at</th>
            <th th:text="#{text.client.invoice.total}">Total</th>
            <th th:text="#{text.client.invoice.actions}" sec:authorize="hasRole('ROLE_ADMIN')" class="text-center" colspan="2">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="invoice: ${client.getInvoices()}">
            <td th:text="${invoice.id}"></td>
            <td th:text="${invoice.getDescription()}"></td>
            <td th:text="${#dates.format(invoice.getCreatedAt(), 'dd.MM.yyyy')}"></td>
            <td th:text="${#dates.format(invoice.getUpdatedAt(), 'dd.MM.yyyy')}"></td>
            <td><span class="currency-euro" th:text="${#numbers.formatDecimal(invoice.getTotal(), 0, 'POINT', 2, 'COMMA')}"></span></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-xs" th:href="@{'/invoice/' + ${invoice.id}}" th:text="#{text.client.invoice.detail}">Show Details</a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/invoice/delete/' + ${invoice.id}}"
                   class="btn btn-danger btn-xs"
                   onclick="return confirm('Are you sure, that you want to delete this Invoice?');" th:text="#{text.client.invoice.delete}">Delete</a></td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>


  </div>
</div>

<footer th:replace="~{/layouts/main :: footer}"></footer>
</body>
</html>