<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{/layouts/main :: head}">
</head>
<body>

<header th:replace="~{/layouts/main :: header}"></header>

<div class="container py-4">
  <div class="card bg-light">
    <div class="card-header text-primary" th:text="${title}"></div>

    <div class="card-body">

      <h4 class="card-title">
        <a class="btn btn-success" th:href="@{/client/list}">Go back</a>
      </h4>

      <img th:if="${#strings.length(client.image) > 0}" th:src="@{'/images/'+ ${client.image}}"
           th:alt="${client.getImage()}"
           class="img-thumbnail rounded float-sm-start" style="max-width: 25%;">

      <ul class="list-group">
        <li class="list-group-item" th:text="${client.getName()}"></li>
        <li class="list-group-item" th:text="${client.getSurname()}"></li>
        <li class="list-group-item" th:text="${client.getEmail()}"></li>
        <li class="list-group-item" th:text="${#dates.format(client.createdAt, 'dd.MM.yyyy')}"></li>
      </ul>

      <div th:if="${#lists.isEmpty(client.invoices)}"
           class="invoice-container alert alert-info my-4"
           th:text="'The Client '+ ${client.getFullName()} + ' has not invoices.'">
      </div>

      <div
           class="invoice-container">

        <table class="table table-bordered table-striped my-4">
          <thead class="bg-primary text-white">
          <tr>
            <th>Nr. Invoice</th>
            <th>Description</th>
            <th>Created at</th>
            <th>Last Update at</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="invoice: ${client.getInvoices()}">
            <td th:text="${invoice.getId()}"></td>
            <td th:text="${invoice.getDescription()}"></td>
            <td th:text="${#dates.format(invoice.getCreatedAt(), 'dd.MM.yyyy')}"></td>
            <td th:text="${#dates.format(invoice.getUpdatedAt(), 'dd.MM.yyyy')}"></td>
            <td th:text="${invoice.getTotal()}"></td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>


  </div>
</div>

<footer th:replace="~{/layouts/main :: footer}"></footer>
</body>
</html>