<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/layouts/main :: head}">
</head>
<body>

<header th:replace="~{/layouts/main :: header}"></header>

<div class="container py-4">
  <div class="card bg-light">
    <div class="card-header text-primary" th:text="${title}"></div>
    <div class="card-body">

      <h4 class="card-title">
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           th:href="@{/client/form}"
           class="btn btn-success"
           th:text="#{text.client.new}">Add new client</a>
      </h4>


      <table class="table table-striped table-dark">
        <thead>
        <tr>
          <th sec:authorize="hasRole('ROLE_USER')">ID</th>
          <th th:text="#{text.templates.client.name}">Name</th>
          <th th:text="#{text.templates.client.surname}">Surname</th>
          <th th:text="#{text.templates.client.email}">email</th>
          <th th:text="#{text.templates.client.createdAt}">Created At</th>
          <th th:text="#{text.templates.client.updatedAt}">Updated At</th>
          <th th:text="#{text.templates.client.actions}" sec:authorize="hasRole('ROLE_ADMIN')" colspan="3"
              class="text-center">Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${clients}">
          <td sec:authorize="hasRole('ROLE_USER')">
            <a class="btn btn-primary btn-xs"
               th:href="@{'/client/' + ${client.id}}"
               th:text="${client.id}"></a>
          </td>
          <td th:text="${client.name}"></td>
          <td th:text="${client.surname}"></td>
          <td th:text="${client.email}"></td>
          <td th:text="${#dates.format(client.createdAt, 'dd.MM.yyyy')}"></td>
          <td th:text="${#dates.format(client.updatedAt, 'dd.MM.yyyy')}"></td>
          <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{'/invoice/form/' + ${client.id}}"
               class="btn btn-info btn-xs"
               th:text="#{text.client.invoice.new}">Create Invoice</a>
          </td>
          <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{'/client/form/' + ${client.id}}"
               class="btn btn-primary btn-xs"
               th:text="#{text.client.edit}">Edit</a>
          </td>
          <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{'/client/delete/' + ${client.id}}"
               class="btn btn-danger btn-xs"
               onclick="return confirm('Are you sure, that you want to delete this client?');"
               th:text="#{text.client.delete}">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
      <nav th:replace="~{/components/nav_paginator :: paginator}"></nav>
    </div>
  </div>
</div>

<footer th:replace="~{/layouts/main :: footer}"></footer>
</body>
</html>