<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{layouts/main :: head}">
</head>
<body>

	<header th:replace="~{layouts/main :: header}"></header>

	<div class="container py-4">

		<h3 th:text="${title}"></h3>
		<section class="error-details">
			<div class="error-detail-group">
				<span>Message: </span><span class="error" th:text="${ex.message}"></span>
			</div>
			<div class="error-detail-group">
				<span>Status Code: </span><span class="error"
					th:text="${ex.statusCode}"></span>
			</div>
			<div class="error-detail-group">
				<span>Timestamp: </span><span class="error"
					th:text="${ex.timestamp}"></span>
			</div>
		</section>

	</div>

	<footer th:replace="~{layouts/main :: footer}"></footer>
</body>
</html>
