<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{/layouts/main :: head}"></head>
<body>

<header th:replace="~{/layouts/main :: header}"></header>

<div class="container py-4">
  <div class="card bg-light">
    <div class="card-header text-primary" th:text="${title}"></div>
    <div class="card-body">

      <h4 class="card-title">
        <a class="btn btn-success" th:href="@{'/client/' + ${invoice.client.id}}"
           th:text="'Go to ' + ${invoice.client.fullName} + ' page'"></a>
      </h4>


      <div th:insert="~{/components/error_block :: ErrorBlock}"
           th:object="${invoice}" th:remove="tag"></div>
      <form th:action="@{/invoice/form}" th:object="${invoice}"
            method="POST" enctype="multipart/form-data">

        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label" for="client">Client</label>
          <div class="col-sm-6">
            <input type="text" id="client" class="form-control" disabled="disabled"
                   th:value="${invoice.client.fullName}"/>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label" for="description">Description</label>
          <div class="col-sm-6">
            <input type="text" id="description" class="form-control"
                   th:field="*{description}" th:errorclass="'is-invalid'"/> <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label" for="obs">Observation</label>
          <div class="col-sm-6">
            <textarea id="obs" class="form-control"
                      th:field="*{obs}" th:errorclass="'is-invalid'">
            </textarea>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('obs')}" th:errors="*{obs}"></small>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label" for="product">Product</label>
          <div class="col-sm-6">
            <datalist id="datalist-product"></datalist>
            <input type="search" id="product" list="datalist-product" autocomplete="off" class="form-control form-select"/>
            <small class="form-text text-danger" id="product_error"></small>
          </div>
        </div>



        <div class="form-group row">
          <div class="col-sm-1 offset-sm-2">
            <input type="submit" class="btn btn-primary" value="Save"/>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<footer th:replace="~{/layouts/main :: footer}"></footer>
<script th:src="@{/application/js/invoice/form.js}"></script>
<script th:src="@{/application/js/utils/Debounce.js}"></script>
<script lang="js">
  new InvoiceForm();
</script>
</body>
</html>